.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #648583;
    padding: 0rem 2rem;
}

.navlink {
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.3rem;
}

.navlink:hover {
    color: #2b4846;
}