.navlinks{
    display: flex;
}

.navlink {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

.navlink:hover {
    color: #2b4846;
}
.navlink-cart {
    display: flex;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
}

.navlink-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0.5rem;
}

img {
    width: 12%;
}

@media (max-width: 800px) {
  
    img {
        width: 40%
    }
    
    .navlink {
        color: #2b4846;
    }
    

}