footer {
    background-color: #648583;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

a{
    text-decoration: none;
    color: white;
    align-self: center;
}

a:hover {
    color: #2b4846;
}

a,p {
    margin: 0.5rem;
}

@media (max-width: 800px) {
  
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}